{% extends "base.html.twig" %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link btn btn-sm btn-secondary" href="{{path('todo_list_index')}}">
            <span class="fa fa-fw fa-arrow-left"></span> Back
        </a>
    </li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="card">
            <div class="card-header">
                Create A New List
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{form_label(form.title)}}
                    {{form_widget(form.title, {attr: {class: 'form-control'}})}}
                    {{form_errors(form.title)}}
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    {{form_end(form)}}
{% endblock %}