{% extends "base.html.twig" %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link btn btn-sm btn-success text-white" href="{{path('todo_list_create')}}">
            <span class="fa fa-fw fa-plus-circle"></span> Create New List
        </a>
    </li>
{% endblock %}

{% block body %}
    <div id="todo-lists"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/jsx" src="js/todo-list-item.jsx"></script>
    <script type="text/jsx" src="js/todo-list-item-add.jsx"></script>
    <script type="text/jsx" src="js/todo-list-title.jsx"></script>
    <script type="text/jsx" src="js/todo-list.jsx"></script>
    <script type="text/jsx" src="js/todo-lists.jsx"></script>
    <script type="text/jsx">
        ReactDOM.render(
            React.createElement(TodoLists),
            document.getElementById('todo-lists')
        );
    </script>
{% endblock %}